﻿
@model UsuarioModel

@{
    ViewData["Title"] = "Iniciar Sesión";
    Layout = "~/Views/Shared/_Layout_None.cshtml";
}

<div class="container-xxl">
    <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner">
            <!-- Register -->
            <div class="card">
                <div class="card-body">
                    <!-- Logo -->
                    <div class="app-brand justify-content-center">
                        <a href="/" class="app-brand-link gap-2">
                            <span class="app-brand-text demo text-body">Thames <span class="fw-bolder">Dental</span></span>
                        </a>
                    </div>
                    <!-- /Logo -->
                    <h4 class="mb-2">Cambiar contraseña</h4>

                    @if (ViewBag.Mensaje != null)
                    {
                        <div class="alert alert-danger text-center">@ViewBag.Mensaje</div>
                    }

                    <form asp-action="CambiarContrasena" asp-controller="Autenticacion">
                        <div class="mb-3">
                            <label class="form-label">Nueva Contraseña</label>
                            <input type="password" class="form-control" asp-for="Contrasena">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Confirmar Contraseña</label>
                            <input type="password" class="form-control" asp-for="ConfirmarContrasena">
                        </div>

                        <input type="submit" class="btn btn-primary" value="Cambiar contraseña">
                    </form>
                </div>
            </div>
            <!-- /Register -->
        </div>
    </div>
</div>