@{
    ViewData["Title"] = "Recuperar Contrasena";
    Layout = "~/Views/Shared/_Layout_None.cshtml";
}

<div class="container-xxl">
    <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner py-4">
            <!-- Forgot Password -->
            <div class="card">
                <div class="card-body">
                    <!-- Logo -->
                    <div class="app-brand justify-content-center">
                        <a href="/" class="app-brand-link gap-2">
                            <span class="app-brand-text demo text-body fw-bolder">Arcadify</span>
                        </a>
                    </div>
                    <!-- /Logo -->
                    <h4 class="mb-2">¿Olvidó su contraseña?</h4>
                    <p class="mb-4">Introduce tu correo electrónico para restablecer tu contraseña</p>
                    <form id="formAuthentication" class="mb-3" action="index.html" method="POST">
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="text"
                                   class="form-control"
                                   id="email"
                                   name="email"
                                   placeholder="Introduzca su email"
                                   autofocus />
                        </div>
                        <button class="btn btn-primary d-grid w-100">Restablecer contraseña</button>
                    </form>
                    <div class="text-center">
                        <a href="auth-login-basic.html" class="d-flex align-items-center justify-content-center">
                            <i class="bx bx-chevron-left scaleX-n1-rtl bx-sm"></i>
                            Volver a inicio de sesión
                        </a>
                    </div>
                </div>
            </div>
            <!-- /Forgot Password -->
        </div>
    </div>
</div>
