@model UsuarioModel

@{
    ViewData["Title"] = "Recuperar Contrasena";
    Layout = "~/Views/Shared/_Layout_None.cshtml";
}

<div class="container-xxl">
    <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner py-4">
            <!-- Forgot Password -->
            <div class="card">
                <div class="card-body">
                    <!-- Logo -->
                    <div class="app-brand justify-content-center">
                        <a href="/" class="app-brand-link gap-2">
                            <span class="app-brand-text demo text-body">Thames <span class="fw-bolder">Dental</span></span>
                        </a>
                    </div>
                    <!-- /Logo -->
                    <h4 class="mb-2">¿Olvidó su contraseña?</h4>

                    @if (ViewBag.Mensaje != null)
                    {
                        <div class="alert alert-danger text-center">@ViewBag.Mensaje</div>
                    }

                    <p class="mb-4">Introduce tu correo electrónico para restablecer tu contraseña</p>
                    @using (Html.BeginForm("RecuperarContrasena", "Autenticacion"))
                    {
                        <div class="mb-3">
                            <label for="Email" class="form-label">Correo electrónico</label>
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @id = "Email", 
                                type = "email", @placeholder = "Introduzca su correo electrónico", @required = "required", @autofocus = "autofocus" }
                            )
                        </div>
                        <input type="submit" class="btn btn-primary d-grid w-100" value="Restablecer contraseña">
                    }
                    <div class="text-center">
                        <a href="@Url.Action("Ingresar", "Autenticacion")" class="d-flex align-items-center justify-content-center">
                            <i class="bx bx-chevron-left scaleX-n1-rtl bx-sm"></i>
                            Volver a inicio de sesión
                        </a>
                    </div>
                </div>
            </div>
            <!-- /Forgot Password -->
        </div>
    </div>
</div>
